.player-wrapper{
    margin: 0 80px;
    margin-bottom: 20px;
    border: solid 3px #726a95;
    border-radius: 10px;
}
.OneContent{
    
}
.react-player{
    margin-right: 0;
}

.card1{
    margin-left: 80px;
    margin-right: 80px;
}