
.container{
   border: solid 2px #726a95;
    margin: 0px;
    width: 400px;
    padding: 0px;
    margin-top: 40px;
    border-style: none solid none none;
    
}
.sidebar{
    margin:20px;
    text-align: left;
}
.Courses{
    overflow: scroll;
    height: 80vh;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


/* .sidebar__tweet{
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    
    height: 50px !important;
    margin-top: 20px !important;
    margin-left: auto !important;
}

.sidebar_twitter_icon{
    color: var(--twitter-color);
    font-size: 30px !important;
    margin-left: 20px;
    margin-bottom: 20px; */
